<h1>Courses for <%= @instructor.username %></h1><br>

<% @courses.reverse.each do |course| %>
	<p>
   	<div class="left"><%= link_to course.class_name, course_path(course.secret_code) %></div>
   	<div class="right"><%= link_to "Edit", edit_course_path(course), class: 'btn btn-primary' %>
   	<%= link_to "Delete", course_path(course), :method => :delete, class: 'btn btn-danger' %></div></p>
<% end %>

<a href="/lessons"><button>Go to Index</button></a>

