<% if current_user %>
	<h1><div class="left">Lessons Master List</div>
		<div class="right">
			<a class="btn btn-success btn-lg" href="/lessons/new" id="newLesson">New Lesson</a>
		</div>
	</h1>
<% else %>
	<h1 class="left">Welcome to CourseBeat!</h1><br><br>
	<h2>Check out some sample lessons!</h2><br>
<% end %>
<br>

<% @lessons.reverse.each do |entry| %>
	<% if entry.secret_code == "0" %>
	<p>
   	<div class="left"><%= link_to entry.title, lesson_path(entry) %></div>
   	<div class="right"><%= link_to "Edit", edit_lesson_path(entry), class: 'btn btn-primary' %>
   	<%= link_to "Delete", lesson_path(entry), :method => :delete, class: 'btn btn-danger' %></div></p>
   	<% end %>
<% end %>
<br>


