<h1>New Lesson</h1>

<form action="/lessons" method="post">
	<input type="text" value="Title" name="lesson[title]" class="center"><br><br>

	<div id="keyConceptHolder"></div>
	
	<input type="button" class="btn btn-primary btn-sm" value="Add Key Concept" onClick="addKeyConcept()"><br>
	<br><input type="submit" class="btn btn-danger btn-lg" value="Submit">
</form>