<% if current_user %>
	<h1><div class="left">Lessons for [enter course name here]</div>
		<div class="right">
			<a class="btn btn-success btn-lg" href="/lessons/new" id="newLesson">New Lesson</a>
		</div>
	</h1>
<% else %>
	<h1>Lessons for <%= @courses[0].class_name %></h1>
<% end %>
<br>
<% @lessons.reverse.each do |entry| %>
	<p>
   	<div class="left"><%= link_to entry.title, lesson_path(entry) %></div>
   	<div class="right"><%= link_to "Edit", edit_lesson_path(entry), class: 'btn btn-primary' %>
   	<%= link_to "Delete", lesson_path(entry), :method => :delete, class: 'btn btn-danger' %></div></p>
<% end %>
<br>

