<!DOCTYPE html>
<html>
<head>
  <title>Coursebeat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<a class="navbar-brand" href="/lessons">CourseBeat</a>
</nav>

<div class="jumbotron">
<%= yield %>
</div>

</body>
</html>
